In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
import os
# dir(os)
os.getcwd()

'd:\\Kinship Verification\\kinship_verification\\notebook'

In [7]:
dataset_path = '..\\logs\\1671218172019.7578.csv'

In [16]:
df = pd.read_csv(dataset_path, header=None)

In [17]:
df.describe()

                0           1
count  100.000000  101.000000
mean    49.500000    0.368318
std     29.011492    0.489013
min      0.000000    0.000000
25%     24.750000    0.000000
50%     49.500000    0.205847
75%     74.250000    0.628998
max     99.000000    2.626738

In [18]:
df.head()

     0         1
0  NaN  0.000000
1  0.0  0.907558
2  1.0  0.487006
3  2.0  0.205847
4  3.0  0.000000

In [24]:
np.array(df)[:, 1]

array([0.        , 0.90755755, 0.48700565, 0.2058475 , 0.        ,
       1.1173441 , 0.71430796, 0.        , 0.        , 0.        ,
       0.36620843, 0.6289983 , 0.39755958, 0.        , 0.        ,
       0.889628  , 0.        , 0.25094998, 0.        , 0.5631237 ,
       0.33776146, 0.        , 1.0562443 , 2.6267378 , 0.        ,
       0.        , 0.        , 0.        , 0.02212608, 0.        ,
       0.37061548, 0.45026797, 0.        , 0.15698129, 0.66052485,
       0.        , 0.        , 0.5963259 , 0.        , 0.210837  ,
       0.2846651 , 0.        , 0.        , 0.        , 0.8177365 ,
       0.        , 0.21310622, 0.35772943, 0.7034034 , 0.        ,
       0.        , 1.0604346 , 1.0249267 , 0.93370074, 0.2849083 ,
       0.        , 1.0784705 , 0.        , 0.50645137, 0.        ,
       1.0316238 , 1.0922322 , 0.        , 0.        , 0.29216677,
       0.79099464, 0.4759127 , 0.7964934 , 0.        , 0.00975198,
       0.08067346, 0.        , 0.        , 1.4274457 , 0.36243892,
       0.6002403 , 0.67334354, 0.        , 0.52546763, 0.        ,
       0.7612283 , 0.        , 0.        , 1.01808   , 0.4307012 ,
       0.        , 0.695898  , 0.        , 0.        , 1.2441748 ,
       0.        , 0.55163425, 0.        , 2.248992  , 0.        ,
       0.9807451 , 0.3785745 , 0.        , 0.        , 0.        ,
       0.4488173 ])

In [27]:
plt.scatter(np.array(df)[:, 1], marker='+')

TypeError: scatter() missing 1 required positional argument: 'y'