In [32]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import scipy.io as io

import os

In [3]:
KIN_FACE_WI = '.\\data\\KinFaceW\\KinFaceW-I'
KIN_FACE_WII = '.\\data\\KinFaceW\\KinFaceW-II'

In [73]:
META_DATA_FD = KIN_FACE_WII + '\\meta_data\\fd_pairs.mat'
META_DATA_FS = KIN_FACE_WII + '\\meta_data\\fs_pairs.mat'
META_DATA_MD = KIN_FACE_WII + '\\meta_data\\md_pairs.mat'
META_DATA_MS = KIN_FACE_WII + '\\meta_data\\ms_pairs.mat'

In [74]:
fd_mat = io.loadmat(META_DATA_FD)
fs_mat = io.loadmat(META_DATA_FS)
md_mat = io.loadmat(META_DATA_MD)
ms_mat = io.loadmat(META_DATA_MS)

In [75]:
fold, label, first, second = fd_mat['pairs'][0]

In [76]:
second

array(['fd_240_2.jpg'], dtype='<U12')

In [77]:
folds = []
labels = []
firsts = []
seconds = []
rels = []

rel_list = ['father_daughter', 'father_son', 'mother_daughter', 'mother_son']
mats = [fd_mat, fs_mat, md_mat, ms_mat]

for i in range(4):
    for pair in mats[i]['pairs']:
        fold, label, first, second = pair

        folds.append(fold[0][0])
        labels.append(label[0][0])
        firsts.append(first[0])
        seconds.append(second[0])
        rels.append(rel_list[i])

In [78]:
df = pd.DataFrame.from_dict({
    'first': firsts,
    'second': seconds,
    'label': labels,
    'fold': folds,
    'rel': rels
    
})

In [79]:
df.loc[df['label']==1]

             first        second  label  fold              rel
0     fd_240_1.jpg  fd_240_2.jpg      1     1  father_daughter
1     fd_024_1.jpg  fd_024_2.jpg      1     1  father_daughter
2     fd_220_1.jpg  fd_220_2.jpg      1     1  father_daughter
3     fd_092_1.jpg  fd_092_2.jpg      1     1  father_daughter
4     fd_155_1.jpg  fd_155_2.jpg      1     1  father_daughter
...            ...           ...    ...   ...              ...
1945  ms_086_1.jpg  ms_086_2.jpg      1     5       mother_son
1946  ms_245_1.jpg  ms_245_2.jpg      1     5       mother_son
1947  ms_100_1.jpg  ms_100_2.jpg      1     5       mother_son
1948  ms_127_1.jpg  ms_127_2.jpg      1     5       mother_son
1949  ms_200_1.jpg  ms_200_2.jpg      1     5       mother_son

[1000 rows x 5 columns]

In [80]:
df.to_csv('KinFaceWII.csv')

2000